.App {
  text-align: center;
  background-color: white;
  /*overflow: auto;*/
  /*width: max-content;*/
  /*height: max-content;*/

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;

}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;

  border-left: 1px solid lightgray;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.editor-image {
  cursor: default;
  display: inline-block;
  position: relative;
  user-select: none;
  outline: rgb(60, 132, 244) solid;

}

.image-resizer {
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: rgb(60, 132, 244);
  border: 1px solid #fff;
}

.image-resizer {
  opacity: 0;
  user-select: none;
}

.editor-image .image-resizer {
  opacity: 1;
  user-select: auto;
}

.editor-image .image-resizer.image-resizer-n {
  top: -6px;
  /*top: 1px;*/
  left: 48%;
  cursor: n-resize;
}

.editor-image .image-resizer.image-resizer-ne {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

.editor-image .image-resizer.image-resizer-e {
  bottom: 48%;
  right: -6px;
  cursor: e-resize;
}

.editor-image .image-resizer.image-resizer-se {
  bottom: -2px;
  right: -6px;
  cursor: nwse-resize;
}

.editor-image .image-resizer.image-resizer-s {
  bottom: -2px;
  left: 48%;
  cursor: s-resize;
}

.editor-image .image-resizer.image-resizer-sw {
  bottom: -2px;
  left: -6px;
  cursor: sw-resize;
}

.editor-image .image-resizer.image-resizer-w {
  bottom: 48%;
  left: -6px;
  cursor: w-resize;
}

.editor-image .image-resizer.image-resizer-nw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}